In [6]:
from ctgan import load_demo
data = load_demo()

discrete_columns = [
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'native-country',
    'income'
]

In [ ]:
from ctgan import CTGANSynthesizer

ctgan = CTGANSynthesizer(batch_size=400)
ctgan.fit(data, discrete_columns, epochs=3)

Epoch 1, Loss G: 1.4555, Loss D: -0.0041

In [ ]:
samples = ctgan.sample(1000)
samples.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,37,State-gov,467276,Bachelors,9,Never-married,Adm-clerical,Husband,White,Male,106,4,51,United-States,<=50K
1,56,Private,251155,Assoc-acdm,9,Never-married,Prof-specialty,Unmarried,Black,Male,-11,-1,26,United-States,<=50K
2,34,?,174236,Assoc-voc,10,Never-married,Transport-moving,Wife,White,Female,6,-3,52,United-States,<=50K
3,30,Private,64785,Some-college,10,Never-married,Exec-managerial,Husband,White,Female,41,-2,49,United-States,<=50K
4,39,Self-emp-inc,182823,HS-grad,9,Married-civ-spouse,Adm-clerical,Not-in-family,Amer-Indian-Eskimo,Male,86,1,40,United-States,<=50K